*{
    box-sizing: border-box;
}

.fondo{
    background-color:664667 ;
}

.fondobody{

    background-image: url(fotoarmonia/tituloapp.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

body{

    font-family: 'Montserrat', sans-serif;
     
}

.formato{
    align-items: center;
    margin-left: 200px;
    
    
    
}

.fondointro{
    background-image: url(fotoarmonia/arminia.jpg);
    background-position: top;
    background-repeat:no-repeat;
    background-size: 80%;
    
}

.boton{

    margin-left: 10px;
}








